syntax: glob
**.tlog
**.o
**.d
**.obj
**.exe
**.sdf
**.suo
**.v11.suo
**.orig
**.psess
**.tix
**.vcxproj.user

JackPot/Platforms/Windows/JackPot.v11.suo
TestGraphics/Platforms/Windows/Debug/
TestGraphics/Platforms/Linux/debug/
JackPot/JackPotViewer/Platforms/Android/JackPotViewerAndroid/Tegra-Android/Debug
JackPot/JackPotViewer/Platforms/Android/JackPotViewerAndroid/ProjectUpgrade*/
JackPot/JackPotViewer/Platforms/Android/JackPotViewerAndroid/res/
JackPot/JackPotViewer/Platforms/Android/JackPotViewerAndroid/assets/
TestGraphics/Platforms/Android/res/
TestGraphics/Platforms/Android/assets/resources/
TestGraphics/Platforms/Android/Tegra-Android/Release/
TestGraphics/Platforms/Android/Tegra-Android/Debug/
TestGraphics/Platforms/Windows/Release/
JackPot/EGMTicket/Platforms/Linux/debug/
JackPot/EGMTicket/Platforms/Windows/Debug/
JackPot/JackPotViewer/Document/build/arm-linux/release/
JackPot/JackPotViewer/Document/
JackPot/JackPotViewer/Platforms/Linux/debug/
JackPot/JackPotViewer/Platforms/Windows/Debug/
JackPot/JackPotViewer/Platforms/Windows/Release/
JackPot/Platforms/Windows/Debug/
JackPot/Platforms/Windows/Tegra-Android/Debug/
Test/Platforms/Linux/debug/
Test/Platforms/Windows/Debug/
Test/Platforms/Windows/Release/
TestGraphics/Document/
TestGraphics/resources/
Test/resources/
JackPot/JackPotViewer/resources/
JackPot/EGMTicket/resources/
JackPot/CasinoServer/resources/
Document/
Libraries/
Macros/
Debug Monitor/
*.log
*.idc
*.opensdf
_gsdata_\*
TestGraphics\Platforms\Linux\testgraphics
TestGraphics\Platforms\Linux\cifsfded
TestGraphics\Platforms\Linux\cifs8b29
*gmon.out
*.bak
TestGraphics\Platforms\Windows\assets\*
TestGraphics\Platforms\Windows\Tegra-Android\*
TestGraphics\Platforms\Windows\res\*
TestGraphics\Platforms\Windows\ProjectUpgradeBackup*
TestGraphics/assets/
Debug_Monitor\debug_monitor.ini
TestGraphics/resources_2/
TestGraphics/Platforms/Windows/My Inspector XE Results - TestGraphics/
*.gv
Test\Platforms\Windows\*.png
libpcap0.8_1.3.0-1_armhf.deb
TestGraphics\Platforms\Windows\TestGraphics151216.vsp
TestGraphics\Platforms\Windows\TestGraphics151224.vsp
GEN\Resources\Graphics\GEN\Copia_de_seguridad_de_GEN.cdr
GEN\Resources\Graphics\GEN\IconGEN.psd
TestGraphics\Graphics\Background\background.jpg
TestGraphics\Graphics\Background\background.psd
179562__clinthammer__clinthammermusic-ts-bass.wav
reverse_fill.wav
*.vsp
Debug_Monitor\Debug_Monitor.exe - Acceso directo.lnk
all.zip
GEN\Utils\XDateTime.h-57be7b19
*.raw
*.dll
GEN\Graphic\GRPObject.h-419899ef
GEN\Utils\XString.h-90e3d2e3
TestMicro/Platforms/Microcontrollers/STM32F0xx/Debug
TestMicro/Platforms/Microcontrollers/STM32F3xx/Debug


*.pdb
APPUpdate\Platforms\Linux\appupdate
*.lastbuildstate
*.idb
GEN\DataIO\DIOWebScraperCache - copia.cpp
GEN\DataIO\DIOWebScraperCache - copia.h
*.rtf
*.out
*.db
*.opendb
GEN\Platforms\Windows\PostgreSQL\libpq.lib
GEN\Platforms\Windows\PostgreSQL\9.6\libpq.lib
TestGraphics\Platforms\Linux\opengl.err
TestGraphics\Platforms\Windows\opengl.err
TestGraphics\Platforms\Windows\GGF_Output.ggf
Test\Platforms\Linux\test
TestGraphics\Platforms\Linux\cifs2626
GGFConverter\Platforms\Linux\core
GGFConverter/resources/
GGFConverter\Platforms\Windows\Tegra-Android\Debug\build\intermediates\manifests\full\debug\AndroidManifest.xml
GGFConverter\Platforms\Windows\Tegra-Android\Debug\build\intermediates\incremental\mergeResources\debug\merger.xml
GGFConverter/Platforms/Windows/Tegra-Android/Debug/
GGFConverter/Platforms/Windows/res/
GGFConverter\Platforms\Windows\Debug\GGFConverter.map
GGFConverter\Platforms\Linux\GGFConverter
GGFConverter/output/
*.err
__Debug_Monitor\FastMM4991\FastMM\Replacement BorlndMM DLL\BCB6\BorlndMM_.pas
GEN/Platforms/Windows/MySQL/
TestGraphics\Platforms\Linux\cifsba45
*.pbi
TestMicro/Platforms/Microcontrollers/STM32F4xx/Debug/
*.exp
TestGraphics/Platforms/Windows/.vs/
*.rej
*.vspx

*.~cpp
*.~ddp
*.~dfm
*.~h
*.~hpp
*.~pas
*.lib
*.bmp
Debug_Monitor/
*.png
*.tga
*.mp4
*.fbx
*.ttf
*.jpg
*.ggf
*.ogg
*.so
*.psd
*.jps
*.cdr
*.ai
.a
*.a
